/* Write your CSS here */
/* Write your CSS here */
.ll {
  margin: 10px;
}
.roww {
  margin: 5px;
  display: flex;
}
.p {
  color: #000000;
  font-size: 20px;
  align-items: flex-start;
  margin-top: 10px;
}
.bt {
  background-color: transparent;
  border: solid #ff0b37;
  padding: 3px;
  color: #ff0b37;
  height: 30px;
  width: 80px;
  font-size: 10px;
  align-items: flex-end;
  margin-top: 0px;
  margin-left: 5px;
}
